/*========================================================================
                                GENERAL STYLE
==========================================================================*/

body {
    background-color: #1a1a1a;
    color: white;
    font-family: Mandalore, ARial;
    margin: 0;
    padding: 0;
    text-align: center;
}

#game-layout {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    padding: 10px; 
    box-sizing: border-box;
}

/*========================================================================
                    RIGHT COLUMN - BETTING BOARD
==========================================================================*/

#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
}

#game-board-header {
    width: 100%; 
    height: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Mandalore, Arial;
    font-size: 10px;
    border-radius: 5px; 
    margin-bottom: 15px; 
    /*Star Wars Style*/
    color: #fffb00;
    background-color: rgba(51, 51, 51, 0.9); 
    border: 1px solid #fffb00; 
    text-shadow: 0 0 5px #fffb00, 0 0 10px #fffb00;
    box-shadow: 0 0 20px rgba(255, 251, 0, 0.8), 0 0 30px rgba(255, 251, 0, 0.6); 

}

/*BUTTON NUMBERS
------------------------------------------------------------------------------*/

.numeros-tablero {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px; 
    margin-top: 5px;
    margin-bottom: 15px;
    overflow: visible;
    height: 100%;
}

.numeros-tablero::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -15px;
    right: -15px;
    bottom: -10px; 
    background-color: rgba(51, 51, 51, 0.9);
    z-index: -1;
    border-radius: 5px;
}

button.numero {
    background-color: #333;  
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 3px;
    font-size: 15px;
}


button.numero#zero {
    background-color: #008000 !important; 
    width: 100%;
    grid-column: span 6;
    margin-bottom: 10px;
    /*Star Wars Style*/
    text-shadow: 0 0 5px #09ff0d, 0 0 10px #09ff0d;
    box-shadow: 0 0 10px rgba(9, 255, 13, 0.5), 0 0 20px rgba(9, 255, 13, 0.3);
}

button.numero#zero:hover {
    color: #00ff04;
}

button.numero.rojo {
    background-color: #d62828; 
    text-shadow: 0 0 5px #ff0909, 0 0 10px #ff0909; 
    box-shadow: 0 0 10px rgba(255, 9, 9, 0.5), 0 0 20px rgba(255, 9, 9, 0.3);
}

button.numero.rojo:hover {
    color: #ff0000;
    background-color: #d62828;
    border-color: #ff0000;
    text-shadow: 0 0 5px #ff0909, 0 0 10px #ff0909;
    box-shadow: 0 0 10px rgba(255, 9, 9, 0.5), 0 0 20px rgba(255, 9, 9, 0.3);
}

button.numero.negro {
    background-color: #000000;
}

button.numero.negro:hover {
    color: #00ccff;
}

/*BUTTON SPECIFIC BETS
------------------------------------------------------------------------------*/

.apuestas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
    width: 100%; 
}

button.apuesta {
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 5px;
    font-size: 15px;
}

button.apuesta.rojo {
    background-color: #d62828;
    text-shadow: 0 0 5px #ff0909, 0 0 10px #ff0909;
    box-shadow: 0 0 10px rgba(255, 9, 9, 0.5), 0 0 20px rgba(255, 9, 9, 0.3);
}

button.apuesta.rojo:hover {
    color: #ff0000;
    background-color: #d62828;
    border-color: #ff0000;
    text-shadow: 0 0 5px #ff0909, 0 0 10px #ff0909;
    box-shadow: 0 0 10px rgba(255, 9, 9, 0.5), 0 0 20px rgba(255, 9, 9, 0.3);
}

button.apuesta.negro {
    background-color: #000000;
}

button.apuesta.negro:hover {
    color: #00ccff;
}

/*========================================================================
                    CENTRAL COLUMN - BETTING LOG FRAME
==========================================================================*/

#roulette-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


#bet-logs-header {
    width: 100%; 
    height: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Mandalore, Arial;
    font-size: 10px;
    border-radius: 5px; 
    margin-bottom: 15px; 
    /*Star Wars Style*/
    color: #2bff00;
    background-color: rgba(51, 51, 51, 0.9); 
    border: 1px solid #2bff00; 
    text-shadow: 0 0 5px #2bff00, 0 0 10px #2bff00; 
    box-shadow: 0 0 10px rgb(4, 241, 83), 0 0 20px rgba(4, 241, 83, 0.3); 


}

/*BET LOGS FRAME
------------------------------------------------------------------------------*/

#bet-logs {
    width: 100%;
    height: 350px; 
    overflow-y: scroll; 
    padding: 10px;
    font-family: Mandalore, Arial;
    font-size: 10px;
    line-height: 4;
    white-space: pre-wrap; 
    /*Star Wars Style*/
    color: #2bff00;
    background-color: rgba(51, 51, 51, 0.9); 
    border-color: #2bff00; 
    text-shadow: 0 0 5px #2bff00, 0 0 10px #2bff00; 
    box-shadow: 0 0 10px rgb(4, 241, 83), 0 0 20px rgba(4, 241, 83, 0.3); 

    /* Hide Scroll Bar */
    scrollbar-width: none; /* Firefox */
}

#bet-logs::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

/*BET LOG FRAME - ENTRIES
------------------------------------------------------------------------------*/

.entry-bet-log {
    box-shadow: 0 0 10px rgb(4, 241, 83), 0 0 20px rgba(4, 241, 83, 0.3); 
}

.entry-bet-log:hover {
    border-color: #00ccff; 
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgb(4, 241, 83), 0 0 20px rgba(4, 241, 83, 0.3); 
}

.text-bet-log {
    color: #2bff00;
    text-shadow: 0 0 5px #2bff00, 0 0 10px #2bff00; 
}

.delete-bet-button {
    padding: 5px 10px; 
    font-size: 12px; 
    margin-right: 10px;
    /*Star Wars Style*/
    color: #2bff00;
    background-color: #333; 
    border-color: #2bff00; 
    text-shadow: 0 0 5px #2bff00, 0 0 10px #2bff00; 
    box-shadow: 0 0 10px rgb(4, 241, 83), 0 0 20px rgba(4, 241, 83, 0.3); 
}

.delete-bet-button:hover {
    color: white;
    background-color: #333; 
    border-color: #2bff00; 
    text-shadow: 0 0 5px #2bff00, 0 0 10px #2bff00; 
    box-shadow: 0 0 10px rgb(4, 241, 83), 0 0 20px rgba(4, 241, 83, 0.3); 
}

/*TOTAL BET DIV
------------------------------------------------------------------------------*/

#total-bet {
    width: 100%;
    height: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Mandalore, Arial;
    font-size: 15px;
    border-radius: 5px; 
    margin-top: 15px; 
    /*Star Wars Style*/
    color: #2bff00;
    background-color: rgba(51, 51, 51, 0.9); 
    border: 1px solid #2bff00; 
    text-shadow: 0 0 5px #2bff00, 0 0 10px #2bff00; 
    box-shadow: 0 0 10px rgb(4, 241, 83), 0 0 20px rgba(4, 241, 83, 0.3); 
}

/*========================================================================
                    LEFT COLUMN - CONTROL PANEL
==========================================================================*/

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 10px;
    height: 100%;            
}

#controls-header {
    width: 100%;
    height: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Mandalore, Arial;
    font-size: 10px;
    border-radius: 5px; 
    /*Star Wars Style*/
    color: #ff0000;
    background-color: rgba(51, 51, 51, 0.9); 
    border: 1px solid #ff0000; 
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000; 
    box-shadow: 0 0 10px rgb(211, 1, 1), 0 0 20px rgba(211, 1, 1, 0.3); 
}

#controls-p {
    width: 100%;
    display: flex; 
    flex-direction: column; 
    align-items: left; 
    font-family: Mandalore, Arial;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    border-radius: 5px; 
    margin-top: 15px; 
    /*Star Wars Style*/
    color: #ff0000;
    background-color: rgba(51, 51, 51, 0.9); 
    border: 1px solid #ff0000; 
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000; 
    box-shadow: 0 0 10px rgb(211, 1, 1), 0 0 20px rgba(211, 1, 1, 0.3); 
}

#controls-p p {
    margin: 5px 0;           
    text-align: left;       
}

#controls-buttons-header {
    width: 100%;
    height: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Mandalore, Arial;
    font-size: 10px;
    border-radius: 5px; 
    margin-top: 15px; 
    margin-bottom: 15px;
    /*Star Wars Style*/
    color: #00aeff;
    background-color: rgba(51, 51, 51, 0.9); 
    border: 1px solid #00aeff; 
    text-shadow: 0 0 5px #0095cf, 0 0 10px #0095cf; 
    box-shadow: 0 0 20px rgba(0, 183, 255, 0.8), 0 0 30px rgba(0, 183, 255, 0.6);
}

#controls button {
    font-size: 20px;
    margin-top: 35px;        
    margin: 5px;             
    padding: 10px 20px;      
}

